<%- include('../partials/header') %>

<div class="ad-nav-container">
    <div class="add-ad glowing"><a href="/classifieds/new">PLACE AN AD</a></div>
</div>

<div class="content-container">
    <div class="classified-list-item">
        <div class="list-header-cell">Title</div>
        <div class="list-header-cell">Language</div>
        <div class="list-header-cell">Summary</div>
        <div class="list-header-cell"></div>
    </div>
    <% let i = 1 %>
    <% classifieds.forEach(function(c) { %>
        <% if (i === 8) { i = 1 } %>
        <div class="classified-list-item">
            <div class="list-cell background-<%= i %>"><%= c.title %></div>
            <div class="list-cell background-<%= i %>"><%= c.language %></div>
            <div class="list-cell background-<%= i %>"><%= c.contentSum %></div>
            <div class="list-cell background-<%= i %>"><a href="/classifieds/<%= c._id %>">DETAILS</a></div>
        </div>
        <% i++ %>
    <% }); %>
</div>

<%- include('../partials/footer') %>